/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// ==================== css reset  ====================

// fonts

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

// color palette

$primary: #072227;
$dark: #35858B;
$normal: #4FBDBA;
$light: #AEFEFF;


// inheritance

.shadow-effect {
  box-shadow: 0 35px 68px 0 $dark, inset 0 -8px 16px 0 $light;
}

.text-input {
	border: none;
	background: #eee;
	font-size: 1.3em;
	border-radius: 0.5em;
	padding: 0.3em;

	&::placeholder {
		color: #aaa;
	}
}


#main {
	color: $primary;
	font-family: Montserrat;
	background: #AEFEFF;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	.container {
		background: white;
		border-radius: 5em;
		height: 80vh;
		width: 80vw;
		@extend .shadow-effect;
		display: grid;
		grid-template-columns: 1fr 1fr;


		.illustration {
			background: $normal;
			border-radius: 5em 0 0 5em;
			padding: 2em;

			.title {
				font-weight: bold;
				font-size: 3em;
			}

			.description {
				font-size: 1.5em;
				font-weight: 300;
			}

			* {
				margin-bottom: 0.5em;
				text-align: center;
			}

			img {
				margin-top: 2em;
				display: block;
				margin: 0 auto;
			}
		}

		.form-container {
			padding: 2.5em;

			.field {
				margin: 0 auto;
				margin-bottom: 2em;
				width: 60%;
                display: flex;
				flex-direction: column;

				label {
				 	margin-bottom: 0.4em;
					font-weight: bold;
				}

				input[type=text] {
					@extend .text-input
				}

				input[type=email] {
					@extend .text-input
				}
			}
		}
	}

}
